{% extends 'site_base.html' %}
{% load atom %}
{% load mptt_tags %}

{% block extra_style %}
<style>
.panel-definition {
    background-color: #eff !important;
}
.panel-theoreme {
    background-color: #ffe !important;
    font-weight: bold;
}
.panel-preuve {
    background-color: #fee !important;
}
</style>
{% endblock %}

{% block extra_nav %}
    <li><a href="{% url 'admin:handouts_handout_change' handout.id %}?source=main">Editer</a></li>
{% endblock %}

{% block body %}
<h2>{{ handout.lead.name }} <a href="{% url "handout_dag" pk=handout.pk %}">(DAG)</a></h2>
{% for node,structure in handout.lead.get_descendants|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
        <h3><strong>{{ node.name }}</strong></h3>
    {% for par in node.paragraphcontainsatoms_set.all %}
        {% if par.lead_in %}
        <p>
        {{ par.lead_in|atom_format }}
        </p>
        {% endif %}
        <div class="panel panel-{{ par.atom.typ.bootstrap_label }}">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ par.atom.typ }}
                    <a href="{{ par.atom.get_absolute_url }}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {% if par.atom.name %}{{ par.atom.name }}{% endif %}
                    </a>
                </h4>
            </div>
            <div class="panel-body">
            {{ par.atom.text|atom_format }}
            </div>
        </div>
        {% if par.lead_out %}
        <p>
        {{ par.lead_out|atom_format }}
        </p>
        <hr/>
        {% endif %}
    {% endfor %}
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
{% endblock %}
