{% extends 'site_base.html' %}
{% load atom %}
{% load comments %}

{% block extra_nav %}
    <li><a href="{% url 'admin:knowledge_atom_change' atom.id %}?source=main">Editer</a></li>
{% endblock %}

{% block local_script %}
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/basic/jquery.qtip.min.css"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/basic/jquery.qtip.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

$('a[href^="/detail/"]').qtip({
    content: {
        text: function(event, api) {
            $.ajax({
                url: this.attr('href')//elemen.data('url') // Use data-url attribute for the URL
            })
            .then(function(content) {
                // Set the tooltip content upon successful retrieval
                api.elements.content.html(
                    '<div id="mathtooltip"><p>'
                    + $(content).find('#atom_text').html()
                    + '</p></div>');
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"mathtooltip"]);
            }, function(xhr, status, error) {
                // Upon failure... set the tooltip content to the status and error value
                api.set('content.text', status + ': ' + error);
            });

            return 'Chargement...'; // Set some initial text
        }
    }
});

});
</script>
{% endblock %}

{% block body %}
<div class="page-header">
    <h2>
        <span class="label label-{{ atom.typ.bootstrap_label }}">{{ atom.typ }}</span>
        {% if atom.name %}{{ atom.name }}{% endif %}
        {% if atom.slug %}{{ atom.slug }}{% else %}{{ atom.id }}{% endif %}
    </h2>
</div>

    <div class="well" id="atom_text">
    {{ atom.text|atom_format }}
    </div>

<div class="page-header">
    <h2>Relations</h2>
<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
          {% for rel in atom.to_atoms.all %}
          <a class="list-group-item list-group-item-{{ rel.from_atom.typ.bootstrap_label }}"
              href="{{ rel.from_atom.get_absolute_url }}">{{ rel.from_atom }}
              <b>{{ rel.typ }}</b></a>
          {% endfor %}
        </div>
    </div>
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item">{{ atom }}</li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="list-group">
          {% for rel in atom.from_atoms.all %}
          <a class="list-group-item list-group-item-{{ rel.to_atom.typ.bootstrap_label }}"
              href="{{ rel.to_atom.get_absolute_url }}"><b>{{ rel.typ }}</b> {{ rel.to_atom }}</a>
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
