{% extends 'site_base.html' %}

{% block body %}
<div class="page-header">
    <h2>DAGger</h2>
</div>

<p>
    Ce site est un CMS (content management system) spécifiquement adapté aux
    contenus en sciences dures (maths, info théorique) et à leur découpage en
    théorèmes, démonstrations, remarques, ...
    <br/>
    Le but principal de ce projet est de permettre de présenter des polycopiés
    riches et vivants en ligne afin de compléter la linéarité d'un cours au
    tableau.
    <br/>
    Il repose sur un graphe acyclique connexe (Directed Acyclic Graph) de
    connaissances.
    <br/>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img
        alt="Licence Creative Commons" style="border-width:0"
    src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Le
contenu de ce site est mis à disposition sous la licence <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licence Creative Commons Attribution 4.0 International</a>.
    <br/>
    Le code du serveur en Django pour ce site est sous licence GPL et est
    accessible sur <a href="https://github.com/MarcdeFalco/dagger">Github</a>.
</p>
{% endblock %}
