{% extends 'theme_bootstrap/base.html' %}
{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'atom_dag' %}">DAG</a></li>
        <li><a href="{% url 'handout_list' %}">Polys</a></li>
        {% block extra_nav %}
        {% endblock %}
    </ul>
{% endblock %}
{% block extra_script %}
{% block local_script %}
{% endblock %}
<script type="text/javascript" src="/static/fluent_comments/js/ajaxcomments.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
        MathJax.Hub.Config({
            config: ["MMLorHTML.js"],
            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
            jax: ["input/TeX"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: false
            },
            TeX: {
                TagSide: "right",
                TagIndent: ".8em",
                MultLineWidth: "85%",
                equationNumbers: {
                   autoNumber: "AMS",
                },
                unicode: {
                   fonts: "STIXGeneral,'Arial Unicode MS'" 
                },
                Macros: {
                  R: '{\\mathbb{R}}',                
                  N: '{\\mathbb{N}}',                
                  C: '{\\mathbb{C}}',                
                  Z: '{\\mathbb{Z}}',                
                  Q: '{\\mathbb{Q}}',                
                  classeck: ['{\\mathcal{C}^{#1}(#2,\\R)}', 2],
                  bold: ['\\boldsymbol{#1}',1],
                  enscomp: ['{\\{#1 ~ | ~ #2\\}}', 2],
                  ensfonctions: ['{\\mathcal{F}(#1,#2)}', 2],
                  plage: ['{[[#1,#2]]}', 2],
                  range: ['{[[1,#1]]}', 1],
                  indic: '{\\boldsymbol{1}}',
                  id: '{id}',
                  rR: '{\\mathcal{R}}',
                  application: ['{\\begin{array}{rcccc}#1 & : & #2 & \\mapsto & #3 \\\\ & & #4 & \\mapsto & #5 \\end{array}}', 5],
                }
            },
            showProcessingMessages: false
        });
</script>
{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.3/jsxgraphcore.js"></script>
<script type="text/javascript">
    window.addEventListener("hashchange", function() { scrollBy(0, -50) })
</script>
{% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="/static/fluent_comments/css/ajaxcomments.css" />
<style>
.jxgbox {
    /* for IE 7 */
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #356AA0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-touch-action: none;
}

.JXGtext {
    /* May produce artefacts in IE. Solution: setting a color explicitly. */
    background-color: transparent;
    font-family: Arial, Helvetica, Geneva, sans-serif;
    padding: 0;
    margin: 0;
}

.JXGinfobox {
    border-style: none;
    border-width: 1px;
    border-color: black;
}

.JXGimage {
    opacity: 1.0;
}

.JXGimageHighlight {
    opacity: 0.6;
}
</style>
{% endblock %}
